= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field.form-group.has-feedback
    = f.label :name
    br
    = f.text_field :name, autofocus: true, class: :'form-control'
  .field.form-group.has-feedback
    = f.label :email
    br
    = f.email_field :email, class: :'form-control'
  .field.form-group.has-feedback
    = f.label :password
    - if @minimum_password_length
      em
        | (
        = @minimum_password_length
        |  characters minimum)
    br
    = f.password_field :password, autocomplete: "off", class: :'form-control'
  .field.form-group.has-feedback
    = f.label :password_confirmation
    br
    = f.password_field :password_confirmation, autocomplete: "off", class: :'form-control'
  .actions
    = f.submit t("devise.views.sign_up"), class: ['btn','btn-success btn-block']
= render "devise/shared/links"
