= simple_form_for(resource) do |f|
  = f.error_notification

  .row
    .form-inputs.col-md-4
      = f.input :name, class: 'form-control'
  .box.box-primary
    .box-header.with-border
      h3.box-title = t("activerecord.models.seller")
      .box-body
        .col-md-6
          = f.nested_fields_for :sellers do |ff|
            .row
              .col-md-11
                = ff.input :name
              .col-md-1
                = ff.remove_nested_fields_link icon("trash"), class: "btn btn-md btn-danger"
      .box-footer
        = f.add_nested_fields_link :sellers, icon("plus")+"Add", class: "btn btn-md btn-success"
  .row.col-md-12
    = f.button :save_button, 'Save'
