= search_form_for @q do |f|
  .row
    .col-md-4.form-group
      = f.label :name_cont
      = f.search_field :name_cont, class: 'form-control'
  .row
    .col-md-2
      = f.button :submit, class: ['btn','btn-success', 'btn-block'] do
        = icon('search')
        |
        = t('helpers.titles.search', model: resource_class)
    .col-md-1
      = link_to collection_path, class: 'btn btn-default' do
        = icon(:eraser)
        |
        = t('helpers.links.eraser')

- if self.respond_to?(:collection) && collection.length.nonzero?
  p.pull-right= page_entries_info collection, entry_name: 'item'

  table.table
    thead
      tr
        td= sort_link(@q, :name, resource_class.human_attribute_name(:name))
        td= resource_class.human_attribute_name(:sellers)
        td.pull-right.actions= t('helpers.actions')
    tbody
      - collection.each do |resource|
        tr
          td= resource.name
          td= resource.sellers.pluck(:name).to_sentence
          td.pull-right.actions
            = link_to edit_resource_url(resource), class: 'btn btn-warning', title: t('helpers.links.edit') do
              = icon(:pencil)
            |
            = link_to resource_url(resource), class: 'btn btn-danger', title: t('helpers.links.destroy'), method: :delete do
              = icon('trash-o')

  = paginate collection
- else
  br
  .callout.callout-info.lead
    h4= t('helpers.page_entries_info.nobody', model: resource_class.model_name.human)

= link_to new_resource_url, class: 'btn btn-success' do
  = icon(:plus)
  |
  = t('helpers.links.new')
