= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field.form-group.has-feedback
    = f.label :email
    br
    = f.email_field :email, autofocus: true, class: :'form-control'
  .field.form-group.has-feedback
    = f.label :password
    br
    = f.password_field :password, autocomplete: "off", class: :'form-control'
  - if devise_mapping.rememberable?
    .field.checkbox.icheck.has-feedback
      label
        = f.check_box :remember_me
        = t("devise.views.remember_me")
  .actions
    = f.submit t("devise.views.login"), class: ['btn','btn-success btn-block']
  = render "devise/shared/links"
