.modal-dialog role="document"
  .modal-content
    .modal-header
      button.close aria-label="Close" data-dismiss="modal" type="button"
        span aria-hidden="true"  &times;
      h4#scheduledModalLabel.modal-title = page_title
    = simple_form_for([@store, @goal, resource], remote: true) do |f|
      .modal-body
        = f.hidden_field :day
        = f.input :amount, as: :string, input_html: { value: number_to_currency(f.object.amount), class:"money", maxlength: 15, placeholder: "R$: 0,00"}
        = f.input :seller_ids, collection: @store.sellers.all, input_html: { multiple: true }
      .modal-footer
        = f.button :save_button, 'Save'
