<% if @daily_goal.errors.empty? %>
  window.location.href='<%=store_goals_path(@store)%>'
<% else %>
  $("#dailyGoalModal").html("<%= j render "form" %>");
  $('.money').mask('#.##0,00', {reverse: true});
<% end %>
