= simple_form_for([@store, resource]) do |f|
  = f.error_notification
  .row
    .form-inputs.col-md-3
      = f.input :month, collection: (1..12).to_a.map{|i| [t("date.month_names")[i], i]}, include_blank: false
    .form-inputs.col-md-3
      = f.input :beginning, as: :string, input_html: { value: f.object.beginning, class: "date_picker"   }
    .form-inputs.col-md-3
      = f.input :ending, as: :string, input_html: { value: f.object.ending, class: "date_picker" }
    .form-inputs.col-md-3
      = f.input :amount, as: :string, input_html: { value: number_to_currency(f.object.amount), class:"money", maxlength: 15, placeholder: "R$: 0,00"}
  .row.col-md-12
    = f.button :submit_cancel, 'Save', cancel: :back
