= search_form_for [@store, @q] do |f|
  = link_to new_resource_url, class: 'btn btn-success' do
    = icon(:plus)
    |
    = t('helpers.links.new')

- if self.respond_to?(:collection) && collection.length.nonzero?
  p.pull-right= page_entries_info collection, entry_name: 'item'

  table.table
    - collection.each do |resource|
      thead
        tr
          th= resource_class.human_attribute_name(:month)
          th= resource_class.human_attribute_name(:beginning)
          th= resource_class.human_attribute_name(:ending)
          th= resource_class.human_attribute_name(:amonth)
          th.pull-right.actions= t('helpers.actions')
      tbody
          tr
            td= resource.month_to_s
            td= l resource.beginning
            td= l resource.ending
            td= number_to_currency(resource.amount)
            th.pull-right.actions
              = link_to edit_resource_url(resource), class: 'btn btn-warning', title: t('helpers.links.edit') do
                = icon(:pencil)
              |
              = link_to resource_url(resource), class: 'btn btn-danger', title: t('helpers.links.destroy'), method: :delete do
                = icon('trash-o')
          thead
            tr
              th
                |
              th= DailyGoal.human_attribute_name(:day)
              th= DailyGoal.human_attribute_name(:amount)
              th= DailyGoal.human_attribute_name(:sellers)
              th.pull-right.actions= t('helpers.actions')
          - resource.daily_goals.each do |daily_goal|
            tr
              td
                |
              td= l daily_goal.day
              td= number_to_currency(daily_goal.amount)
              td= daily_goal.amount_per_seller_to_s(number_to_currency(daily_goal.amount_per_seller))
              th.pull-right.actions
                = link_to edit_store_goal_daily_goal_path(@store, resource.id, daily_goal.id), remote: true, class: 'btn btn-warning', title: t('helpers.links.edit') do
                  = icon(:pencil)
  = paginate collection
- else
  br
  .callout.callout-info.lead
    h4= t('helpers.page_entries_info.nobody', model: resource_class.model_name.human)

#dailyGoalModal.modal.fade aria-labelledby="dailyGoalModalLabel" role="dialog"
