/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require select2
 *= require select2-bootstrap
 *= require_self
 *= require pickadate/classic
 *= require pickadate/classic.date
 */

@import "font-awesome-sprockets";
@import "font-awesome";

td.actions{
  text-align: center;
  width: 100px;
}


.remove_nested_fields_link {
  margin-top: 25px
}
