footer.main-footer
  .pull-right.hidden-xs
    |  Anything you want
  strong
    | Copyright © 2016 -
    = Date.current.year.to_s+" "
    a[href="#"]
      | Company
    | .
  |  All rights reserved.
