aside.main-sidebar
  section.sidebar
    .user-panel
      .pull-left.image
        = image_tag('user.png', class: :'img-circle', alt: 'User Image')
      .pull-left.info
        p
          = current_owner.email
        a[href="#"]
          i.fa.fa-circle.text-success
          |  Online
    form.sidebar-form[action="#" method="get"]
      .input-group
        input.form-control[type="text" name="q" placeholder="Search..."]
        span.input-group-btn
          button#search-btn.btn.btn-flat[type="submit" name="search"]
            i.fa.fa-search
    ul.sidebar-menu
      li.header
        | Menu
      = menu_link('stores','building-o')
      li.treeview
        a[href="#"]
          i.fa.fa-line-chart
          span
            = t("goal", scope: 'activerecord.models', count:2)
          span.pull-right-container
            i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          - @owner_stores.each do |store|
            li
              = link_to store.name, store_goals_path(store)
