header.main-header
  =link_to :root, class: "logo"
    span.logo-mini
      b
        | D.
      | idv
    span.logo-lg
      b
        | Desafio Indeva
  nav.navbar.navbar-static-top[role="navigation"]
    a.sidebar-toggle[href="#side-bar" data-toggle="offcanvas" role="button"]
      span.sr-only
        | Toggle navigation
    .navbar-custom-menu
      ul.nav.navbar-nav
        //li.dropdown.messages-menu
          a.dropdown-toggle[href="#messages" data-toggle="dropdown"]
            i.fa.fa-envelope-o
            span.label.label-success
              | 4
          ul.dropdown-menu
            li.header
              | You have 4 messages
            li
              ul.menu
                li
                  a[href="#"]

                  .pull-left
                    = image_tag('user', class: :'img-circle', alt: 'User Image')
                  h4
                    |  Support Team
                    small
                      i.fa.fa-clock-o
                      |  5 mins
                  p
                    | Why not buy a new awesome theme?
            li.footer
              a[href="#"]
                | See All Messages
        //li.dropdown.notifications-menu
          a.dropdown-toggle[href="#notifications" data-toggle="dropdown"]
            i.fa.fa-bell-o
            span.label.label-warning data-behavior='notifications-unread-count'
              | 0
          ul.dropdown-menu
            li.header
              | You have
              span data-behavior='notifications-unread-count' 0
              |  notifications
            li
              ul.menu data-behavior='notification-items'
                / li
                  a[href="#"]
                    i.fa.fa-users.text-aqua
                    |  5 new members joined today
            li.footer
              a[href="#"]
                | View all
              a[href="#" data-behavior='notifications-mark_all_read']
                | Marke All Read
        //li.dropdown.tasks-menu
          a.dropdown-toggle[href="#tasks" data-toggle="dropdown"]
            i.fa.fa-flag-o
            span.label.label-danger
              | 9
          ul.dropdown-menu
            li.header
              | You have 9 tasks
            li
              ul.menu
                li
                  a[href="#"]

                  h3
                    |  Design some buttons
                    small.pull-right
                      | 20%
                  .progress.xs
                    .progress-bar.progress-bar-aqua[style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"]
                      span.sr-only
                        | 20% Complete
            li.footer
              a[href="#"]
                | View all tasks
        li.dropdown.user.user-menu
          a.dropdown-toggle[href="#profile" data-toggle="dropdown"]
            = image_tag('user.png', class: :'user-image', alt: 'User Image')
            span.hidden-xs
              = (current_owner.try(:name) || current_owner.email) + " "
              = icon("caret-down")
          ul.dropdown-menu
            li.user-header
              = image_tag('user.png', class: :'img-circle', alt: 'User Image')
              p data-id=current_owner.id
                = current_owner.email
                //small
                  | Foo bar
            //li.user-body
              .row
                .col-xs-4.text-center
                  a[href="#"]
                    | Followers
                .col-xs-4.text-center
                  a[href="#"]
                    | Sales
                .col-xs-4.text-center
                  a[href="#"]
                    | Friends
            li.user-footer
              .pull-left
                //= link_to('Perfil', edit_user_path(current_owner), class:"btn btn-default btn-flat")
              .pull-right
                = link_to('Sair'.html_safe, destroy_owner_session_path, method: 'delete', class: 'btn btn-default btn-flat')
        //li
          a[href="#right-side-bar" data-toggle="control-sidebar"]
            i.fa.fa-gears
