doctype html
html
  head
    title Desafio Indeva
    meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" /
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'adminlte', media: 'all'
    = stylesheet_link_tag 'adminlte/skins/skin-blue', media: 'all'

    = javascript_include_tag 'jquery3'
    = javascript_include_tag 'application'
    = javascript_include_tag 'adminlte_bootstrap'

  body.layout-boxed.hold-transition.skin-blue.sidebar-collapse.sidebar-mini class=("#{controller_name} #{action_name}")
    #flash_message.hidden data-turbolinks-track = 'reload'
      = flash.to_json
    .wrapper
      = render 'top_bar'
      = render 'side_bar'
      .content-wrapper
        section.content-header
          h1
            = page_title
            small
              |
          ol.breadcrumb
            = render_breadcrumbs :tag => :li, :separator => ""

        .content
          = yield

      = render 'footer'
      = render 'right_side_bar'
