doctype html
html
  head
    title Desafio Indeva
    = csrf_meta_tags
    meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" /
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'adminlte', media: 'all'
    = stylesheet_link_tag 'adminlte/skins/skin-blue', media: 'all'

    = javascript_include_tag 'jquery3'
    = javascript_include_tag 'adminlte_bootstrap', 'data-turbolinks-track': 'reload'

  body.hold-transition.login-page
    #flash_message.hidden data-turbolinks-track = 'reload'
      = flash.to_json
    .login-box
      .login-logo
        a href="/"
          b Desafio

      .login-box-body
        p.login-box-msg = t("devise.views.msg_start")
        = yield
